# API Settings
APP_NAME="Smart Logo Masker"
DEBUG=True
API_V1_STR="/api/v1"

# Redis / Celery
REDIS_URL="redis://redis:6379/0"

# Model Settings
MODEL_PATH="runs/segment/logo_masker_model/weights/best.pt"
FALLBACK_MODEL_PATH="yolo11n-seg.pt"

# Storage
UPLOAD_DIR="data/uploads"
RESULT_DIR="data/results"
